@charset "utf-8";
/* CSS Document */
#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3000;	
}


.popup-overlay {
  background-color: #000;
  background-attachment: fixed;
  background-size: cover;
  cursor: pointer;
  display: none;
  left: 0;
  opacity: 0.84;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2999;
}

.content-popup {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 12% auto;
  min-height: 268px;
  padding: 10px;
  position: relative;
  width: 620px;
  z-index: 3943;
}

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}


.close {
    position: absolute;
    right: 15px;
}
